Utility/SchedulerComponents/HipSchedulerTaskImplementation/Connected Services/PushService/PushSvc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InitializeProcess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="queueName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxRate" type="xs:decimal" />
        <xs:element minOccurs="0" name="isBatch" type="xs:boolean" />
        <xs:element minOccurs="0" name="maxBatchSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>