Utility/SchedulerComponents/HipSchedulerTaskImplementation/Connected Services/NotificationService/NotificationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InitializeNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serviceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="issueCategory" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeNotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InitializeNotificationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>